body {
	background-color: powderblue;
}

#container {
	width: auto;
	height: 600px;
	display: flex;
	justify-content: center; 
	align-items: center;
	
}
#sub-container {
	display: grid;
	height: auto;
	margin: auto;
	width: 300px;
	gap: 10px;
	border: 4px solid black;
	background-color: silver;
	box-shadow: 2px 2px 4px 3px #666;
	border-radius: 10px;
}

#result {
	border: 2px solid #333;
	border-radius: 5px;
	/* box-shadow: 1px 1px 5px 1px #666; */
	background-color: lavender;
	height: 100px;
	position: relative;
	padding: 5px;
	margin: 10px;
	text-align: right;
}

.rows {
	display: flex;
	justify-content: center;
	/* border: 1px solid black; */
	padding: 5px;
	margin: 0 10px;
}

.last {
	margin-bottom: 10px;
}

#on-button {
	border-radius: 5px;
	width: 35px;
	height: 20px;
	font-size: small;
}

button {
	height: 35px;
	margin: 0 5px;
	width: 45px;
	border: none;
	background-color: #eee;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 1px #666;
	font-family: Gotham, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: large;
	font-weight: bold;
}
button:hover {
	border: 1px solid;
}


